@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200;1,300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #18002c, #1a015f, #2d01a5,#002146, #0462b4, #127edd);
    background-size: 400% 300%;
    animation: colors 15s ease alternate infinite;
}
@keyframes colors {
    0% {
        background-position: 0% 50%;
    } 
    50%{
       background-position: 100% 50% ;
    }
    100%{
        background-position: 0% 50%;
    }
}
header{
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#ffffff
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 120px;
    max-width: 1000px;
}
.carrousel-item{
    padding: 10px;
    margin: 15px;
    background-color: #ffffffb7 ;
    width: 250px;
    height: 250px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    box-shadow: 0px 0px 25px black;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    transition: 1s;
}
.carrousel-item:hover{
    border-radius: 5px 5px 5px 5px;
    transition: 0.2s;
    background-color: #ffffff ;
}
.foto{
    width: 50px;
    margin: 5px;
}
.nome-do-site{
    margin: 10px;
}
.foto-html-css{
    position: absolute;
    top: 0;
    right: 0;
    margin: 6% 2% 0% 0%;
}
.foto-js{
    position: absolute;
    top: 0;
    left: 0;
    margin: 6% 0% 0% 2%;
}
#foto-jss , #foto-html {
    width: 80px;
}
.descricao-do-site{
    font-style: oblique;
}
.redes-sociais{
    margin-top: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.fotos-redes{
    width: 35px;
}
#foto-ht{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    width: 100px;  
} a{
    text-decoration: none;
    color: #3111e9;
}
@media ( max-width: 800px) { 
    #foto-jss, #foto-html {
        width: 50px; 
        margin: 80px;
    }
    h1{
        font-size: 1.2em;
    }
    header{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .carrousel-item{
        border-radius: 10px;
        transition: 0.2s;
        width: 30%;
        height: 130px;
        align-items: center;
        margin: 15px;
        margin-top: -3px;
    }
    #sites{
        margin-top: 30%;
    }
    .carrousel-item:hover{
        border-radius: 5px 5px 5px 5px;
        transition: 0.2s;
        width: 32%;
        height: 130px;
        background-color: #ffffff ;
    
    }
    .foto{
        width: 20px;
        margin: 1px;
    }
    .nome-do-site{
        font-size: 0.8em;
        margin: 1px;
    }
    .descricao-do-site{
        font-size: 0.8em;
        margin: 1px;
    }
    .fotos-redes{
        width: 28px;
    }
    .redes-sociais{
        bottom: 0;
        left: 0;
        margin: 0% 40% 10x 40%;
    }
    h3{
        font-size: 0.9em;
    }
    #foto-ht{
        width: 40px;
        margin-bottom: -5px;
    }
}