@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@-webkit-keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* {
  margin: 0px;
  padding: 0px;
}

.fundoPrincipal {
  background: linear-gradient(45deg, #1a015f, #1a015f, #2d01a5, #3201b9, #3804c7, #4203ee);
  background-size: 400% 300%;
  -webkit-animation: colors 5s ease alternate infinite;
          animation: colors 5s ease alternate infinite;
  height: 100vh;
  width: 100%;
}

/* Parte do cabeçalho*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

header .logotipo, header .fotoLogo, header #nomeLogo, header .menu {
  cursor: pointer;
}

header .logotipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

header .fotoLogo {
  width: 40px;
  height: 40px;
}

header #nomeLogo {
  margin: 6.5px 0px 0px 10px;
  font-weight: 300;
  letter-spacing: 4px;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  padding: 20px;
  position: relative;
}

header .menu :hover {
  -webkit-box-shadow: inset 0 -10px 0 #11c0e5;
          box-shadow: inset 0 -10px 0 #11c0e5;
}

/* Apresentação */
.fundoApresentação {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  color: #ffffff;
}

.fundoApresentação .foto-react {
  width: 600px;
  height: 600px;
  top: 15%;
  left: 50%;
  position: absolute;
  -webkit-animation: rotate 40s infinite linear;
          animation: rotate 40s infinite linear;
}

.fundoApresentação .apresentação {
  position: relative;
}

.fundoApresentação h1 {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.fundoApresentação h2, .fundoApresentação p {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
}

.fundoApresentação #descrição {
  font-size: 1em;
  width: 700px;
}

/*Projetos*/
.fundoProjetos {
  background-color: #1b1a1a;
  padding: 200px 0px 0px 0px;
}

.fundoProjetos .tituloHover, .fundoProjetos .descriçãoHover {
  text-align: center;
  letter-spacing: 3px;
  margin: 40px;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
}

.fundoProjetos .tituloProjeto {
  margin-bottom: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 4em;
  text-align: center;
  color: #ffffff;
}

.fundoProjetos .displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 1700px;
}

.fundoProjetos .cardProjeto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0px 10px 50px 10px;
  cursor: pointer;
}

.fundoProjetos .cardProjeto:hover {
  -webkit-box-shadow: 0 3px 55px 0 #000000;
          box-shadow: 0 3px 55px 0 #000000;
}

.imagemProjeto {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.descriçãoProjeto {
  width: 400px;
  color: #ffffff;
}

.subTituloProjeto, .tituloCardUti {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.tituloCardUti {
  margin: 100px 0px 100px 0px;
}

.tr {
  background-color: #11c0e5;
}

.foto-html-css {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10% 2% 0% 0%;
  cursor: pointer;
}

.foto-js {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0% 0% 10% 2%;
  cursor: pointer;
}

#foto-jss, #foto-html {
  width: 80px;
}

#foto-ht {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  width: 100px;
  cursor: pointer;
}

@media (max-width: 800px) {
  #foto-jss, #foto-html {
    width: 50px;
    margin: 80px;
  }
  #foto-ht {
    width: 40px;
    margin-bottom: -5px;
  }
}
/*# sourceMappingURL=stle.css.map */