@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@keyframes preload{
    to {
        transform: rotate(1turn);
    }
}
@keyframes ponteiro{
    from {
        border-right-color: #A940E8;
    }
    to {
        border-right-color: #ffffff00;
    }
}
@keyframes digitando {
    from {
        max-width: 0px;
    }
    to {
        max-width: 438px;
    }
}
@keyframes focandoTexto {
    0% {
      letter-spacing: -0.5em;
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
  @keyframes animaTextoDireita {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

@keyframes girando360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @keyframes vibração {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(-5px, -5px);
    }
    60% {
      transform: translate(5px, 5px);
    }
    80% {
      transform: translate(5px, -5px);
    }
    100% {
      transform: translate(0);
    }
  }

  @keyframes tremer {
    0% {
        transform: translate(0); 
    }
    20%{
        transform: translate(-5px, 0px);
    }
    50% {
        transform: translate(0);
    }
    80%{
        transform: translate(5px, 0px);
    }
    100%{
        transform: translate(0);
    }
  }

  @keyframes piscando {
    0% {
        opacity: 0;
      }
      10% {
        opacity: 0;
        text-shadow: none;
      }
      10.1% {
        opacity: 1;
        text-shadow: none;
      }
      10.2% {
        opacity: 0;
        text-shadow: none;
      }
      20% {
        opacity: 0;
        text-shadow: none;
      }
      20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
      }
      20.6% {
        opacity: 0;
        text-shadow: none;
      }
      30% {
        opacity: 0;
        text-shadow: none;
      }
      30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      30.6% {
        opacity: 0;
        text-shadow: none;
      }
      45% {
        opacity: 0;
        text-shadow: none;
      }
      45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      55% {
        opacity: 1;
      }
}

*{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  cursor: default;
  word-spacing: 2;
  span:hover{
  color: #970ee7;
  }
}

/*pre-laod*/
#onloadid{
    display: none;
}
.preload{
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient( rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    transition: 1000s ;
    display: flex;
    align-items: center;
    justify-content: center;

    .carregamento{
    animation: preload 1s infinite;
    border: 6px solid #3201b9;
    border-top-color: #11c0e5;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }
}

 /* cor do srcoll*/
body::-webkit-scrollbar {
    width: 10px;             
  }
  
  body::-webkit-scrollbar-track {
    background: #ffffff;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4203ee;        
    border: 3px solid #4203ee; 
  }

/* Parte do cabeçalho*/
body{
  background-color: rgb(15, 15, 15);
}

a{
    text-decoration: none;
    color: #ffffff;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  color:#ffffff ;

  .logotipo, .fotoLogo, #nomeLogo, .menu {
      cursor: pointer;
  }

  .logotipo{
    display: flex;
    padding: 20px;
  }
  .fotoLogo{
    width: 40px;
    height: 40px;
  }
  #nomeLogo{
    margin: 6.5px 0px 0px 10px;
    font-weight: 300;
    letter-spacing: 4px;
  }
  .menu{
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding: 20px;
    position: relative;
  }
  p
  {
    padding: 5px;
  }
  a :hover{
    background-color: #A940E8;
    box-shadow:  0 3px 20px 0 #000000;
    border-radius: 5px; 
    animation: 1s;
  }
}

/*Cor do background da tela principal*/
.fundoPrincipal{
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    height: 100vh;
    width: 100%;
}

 /* Apresentação Renan Xavier*/
.fundoApresentação{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    color: #ffffff;
    padding: 10px;

    .foto-react{
        width: 600px;
        height: 600px;
        top: 15%;
        left: 50%;
        position: absolute;
        animation: girando360 25s 5.5s infinite linear, piscando 9.5s linear both;
    }
    .apresentação{
        position: relative;
    }
    h1{
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
    #hmdois{
        color: #970ee7;
        border-right: 3px solid #000000;
        max-width: 438px;
        white-space: nowrap;
        overflow: hidden;
        animation: ponteiro 1s infinite normal, digitando 1.5s 0s normal;
    }
    h2, p {
        font-family: 'Poppins', sans-serif;
        font-size: 4em;
    }
    #preEscrição{
        max-width: 1250px;
        animation: focandoTexto 1.5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    #descrição{
        font-size: 1em;
        max-width: 700px;
        animation: animaTextoDireita 1s 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    #descrição, #preEscrição {
        display: none;
    }
}
#ondaPrincipal{
  margin-top: -50px;
  width: 100%;
}
/* Pngs-fundoPrincipal*/
.foto-html-css{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10% 2% 0% 0%;
    cursor: pointer;
}
.foto-html-css:hover{
    animation: girando360 1s infinite linear;
}
.foto-js{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0% 0% 5% 2%;
    cursor: pointer;
}
#foto-jss:hover{
    animation: vibração 0.5s linear infinite both;
}
#foto-jss , #foto-html {
    width: 80px;
}
#foto-ht{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    width: 100px;
    cursor: pointer; 
} 
#foto-ht:hover{
    animation: tremer 0.3s linear infinite both
}
.redeSocias{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 50%;
    margin-left: 50%;
    width: 100px;
    cursor: pointer; 

    .imagensRedes{
        display: flex;
        padding: 10px;

        img{
            max-width: 40px;
            max-height: 40px;
            padding: 5px;
        }
        img:hover {
            box-shadow:  0 3px 20px 0 #000000;
            border-radius: 5px; 
            animation: 1s;
        }
    }
}

/*Projetos*/
.fundoProjetos{

    background-color: #0f0f0f;
    padding: 50px 0px 50px 0px;
    .FlexButton{
      display: flex;
      align-items: center;
    }

    #setaEsquerda, #setaDireita {
      width: 50px;
      height: 50px;
    }
    #setaEsquerda{
      margin: 0px 0px 0px 40px;
    }
    #setaDireita{
      margin: 0px 40px 0px 0px;
    }

    .subTituloProjeto{
      color: #970ee7 !important;
    }

    .tituloHover, .descriçãoHover{
        text-align: center;
        letter-spacing: 3px;
        margin: 40px;
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
    }
    .tituloProjeto{
        margin-bottom: 100px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 4em;
        text-align: center;
        color: #ffffff;
    }
    .subTituloProjeto, .tituloCardUti{
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-bottom: 50px;
    }
    .displayFlex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    .cardProjeto{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 350px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin: 0px 10px 50px 10px;
        cursor: pointer;
        overflow: hidden;
        box-shadow:  0 3px 20px 0 #000000;
    }
    .cardProjeto:hover{
        box-shadow:  0 3px 10px 0 #4203ee;
    }
    .imagemProjeto{
        width: 300px;
        object-fit: cover;
        -webkit-transition: .5s ease;
        transition: transform .5s ease;
    }
    .imagemProjeto:hover{
        -webkit-transform: scale(1.1);
   transform: scale(1.1);
    }
    #projeto3{
      p {
        font-size: .7em;
      }
    }
    #projeto6, #projeto7{
      p{
        font-size: .8em;
      }
    }
    #projeto8{
      h1{
        font-size: 1.8em;
      }
    }
    .descriçãoProjeto{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width:250px;
      height: 300px;
      padding: 10px;
      color: #ffffff;
    }
    .tituloCardUti{
        margin: 100px 0px 100px 0px;
    }
    .botaocard{
      padding: 10px;
      display: flex;
      justify-content: space-around;
      width: 200px;
      button{
        width: 80px;
        height: 30px;
        border-style: none;
        background-color: #A940E8;
        border-radius: 2px;
      }
    }
}
.ondaPrincipal{
  margin-top: -230px;
}
.separador{
    border-color:#4203ee;
    box-sizing:border-box;
    margin: auto;
    width:100%;  
  }
  #displayFlexProjeto{
    margin-bottom: 200px;
  }
  /*Sobre mim*/

  #ondaFundoSobre{
    margin: -210px 0px 0px 0px;
  }

.fundoSobre{
  letter-spacing: 3px;
  background-color: #070335 ;

  #hSobre{
    margin-top: 0px;
  }
  #testeInline{
    display: none;
    padding-top: 0px;
  }
  h1{
    padding: 0px 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    color: #ffffff;
    }
    h2{
      font-size: 1em;
      font-weight: 400;
      word-spacing: 5px;
    }
  .flexSobre{
    max-width: 1200px;
    margin: auto;
    padding-top: 51px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
  }
  .imagemSobre{
    img{
      width: 400px;
      margin-right: 80px;
      filter:drop-shadow(10px 10px 10px #000000);
      cursor: pointer;
    }
    img:hover{
      filter:drop-shadow(0px 10px 10px #A940E8);
    }
  }
  .tecSobre{
    margin-top: 100px;
    text-align: center;

    .TecImgSobre{
      display: flex;
      max-width: 80%;
      max-height: 500px;
      margin: auto;
      justify-content: center;

      img{
        width: 64px;
        margin: 30px;
        filter: contrast(80%);
        filter: grayscale(100%);
        cursor: pointer;
      }
      img:hover{
        filter: brightness(150%);
        filter: contrast(120%);
        filter: drop-shadow(10px 10px 10px #000000);
      }
      figure{
        font-family:  'Poppins', sans-serif ;
        color: #ffffff;
        figcaption{
          filter: opacity(0%);
        }
      }
      figure:hover{
        cursor: pointer;
        figcaption{
          filter: opacity(100%);
        }
      }
    }
  }
}
 /*fundoContato*/
.fundoContato{
  width: 100%;
  margin-top: -100px ;

  height: 100vh;
  background-color: rgb(15, 15, 15);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  main{
    color: #ffffff;
    max-width: 1200px;
    text-align: center;

    article{
      color: #970ee7;
      margin-top: 80px;
      input{
        width: 212px;
        background-color: rgb(15, 15, 15);
        color: #ffffff;
        border: none;
        font-family: 'Poppins';
        text-align: center;
      }
    }
    .imagensRedes{
      display: flex;
      justify-content: center;
      margin-top: 90px;
      padding: 10px;

      img{
          max-width: 30px;
          max-height: 30px;
          padding: 5px;
      }
      img:hover {
          box-shadow:  0 3px 20px 0 #000000;
          border-radius: 5px; 
          animation: 1s;
      }
    } 
  }
  
  h1{
    margin: -50px 0px 100px 0px;
    text-align: center;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    color: #ffffff;
  }
  h2{
    margin-bottom: 10px;
    
    span{
      color: #970ee7;
    }
  }
 }
 .CopiaeCola, .NumberCopiaeCola{
  img{
    width: 20px;
    height: 20px;
    margin: 3px 0px 0px 5px;
  }
  display: flex;
  justify-content: center;
 }
 #copiadoNum, #copiadoEm{
  margin: auto;
  margin-top: 10px;
  padding: 3px;
  text-align: center;
  width: 80px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  display: none;
 }
 .agradecimento{
  h3, h2{
    color: #ffffff
  }
 }
 .ondeContato{
  margin-top: -200px ;
 }

@media (max-width:1450px) {
    #foto-jss, #foto-html, #foto-ht
    {
        width: 70px;
    }
    .foto-react{
        max-width: 400px;
        max-height: 400px;
        margin-top: 90px
    }
    .fundoProjetos{

        .cardProjeto{
            max-width: 1000px;
            margin: 0px 10px 50px 10px;
        }
        .imagemProjeto{
            width: 250px;
        }
        .descriçãoProjeto{
            width:250px;
            margin: auto;
            font-size: .8em;
        }
    }
}

@media (max-width:1260px){

    #foto-jss, #foto-html, #foto-ht
    {
        width: 60px;
    }
    .fundoApresentação{

        h1{
            font-size: 1em;
        }
        h2, p {
            font-size: 3em;
        }
        #descrição{
            font-size: .8em;
            width: 700px;
        }
    }
}
@media (max-width:1100px){
    .foto-react{
        max-width: 300px;
        max-height: 300px;
        margin-top: 120px
    }
    .fundoApresentação{

        h1{
            font-size: .8em;
        }
        h2, p {
            font-size: 2em;
        }
        #descrição{
            font-size: .8em;
            width: 700px;
        }
    }
    #foto-jss, #foto-html, #foto-ht
    {
        width: 50px;
    }
.flexSobre{
    img{
      max-width: 250px;
      margin-left: 30px;
    }
    h2{
      font-size: .8em;
    }
    .textoSobre{
      max-width: 800px;
    }
    .tecSobre{
      .TecImgSobre{
        max-width: 80%;
        max-height: 400px;
        img{
          width: 24px;
          margin: 30px;
        }
      }
    }
  }
}
.tecSobre{
  figure{
    width: 80px;
  }
}
@media (max-width:800px){
    header{
        padding: 5px;
        .logotipo{
          padding: 10px;
        }
        .fotoLogo{
          width: 20px;
          height: 20px;
        }
        #nomeLogo{
          font-size: 1.2em;
          margin: 0px 0px 0px 5px;
          font-weight: 300;
          letter-spacing: 3px;
        }
        .menu{
          width: 400px;
          padding: 15px;
          position: relative;
          font-size: .8em;
        }
        .menu :hover{
        box-shadow: inset 0 -20px 0 #11c0e5;
        }
      }

    .foto-react{
        max-width: 180px;
        max-height: 180px;
        margin-top: 110px;
    }
    .fundoApresentação{

        h1{
            font-size: .6em;
        }
        h2, p {
            font-size: 1em;
        }
        #descrição{
            font-size: .5em;
            width: 500px;
        }
    }
    #foto-jss, #foto-html, #foto-ht
    {
        width: 40px;
    }
}
@media (max-width:600px){
    header{
        padding: 5px;
        .logotipo{
          padding: 10px;
        }
        .fotoLogo{
          width: 20px;
          height: 20px;
        }
        #nomeLogo{
          font-size: 1.2em;
          margin: 0px 0px 0px 5px;
          font-weight: 300;
          letter-spacing: 3px;
        }
        .menu{
          display: none;
        }
      }
    .foto-react{
        max-width: 280px;
        max-height: 280px;
        margin-top: 210px;
        overflow: hidden;
        left: 20% !important ;
    }
    .fundoApresentação{

        .apresentação{
            padding: 10px;
            width: 100%;
            margin: auto;
            margin-top: 50px;
        }
        h1{
            font-size: 1em;
        }
        h2{
            width: 240px;
            font-size: 2em;
            
        } 
        p {
            font-size: 1.4em;
        }
        #descrição{
            font-size: .6em;
            width: 300px;
        }
    }
    #foto-jss, #foto-html, #foto-ht
    {
        width: 40px;
    }
    .redeSocias{
        margin-right: 42%;
        .imagensRedes{
            display: flex;
            padding: 10px;
    
            img{
                max-width: 30px;
                max-height: 30px;
            }
        }
    }
    #projeto{
      font-size: 2em;
    }
    .imagemProjeto{
        max-width: 500px;
        max-height: 350px;
        margin: auto;
    }
    .descriçãoProjeto{
        margin-top: 10px;
        font-size: .4em;
    }
    .subTituloProjeto, .tituloCardUti {
        font-size: .7em;
    }
    .tituloCardUti{
        margin: 0px;
    }

  .fundoSobre{
    h1{
      padding:50px;
      font-size: 2em;
      }
      h2{
        padding: 20px;
        font-size: .8em;
        font-weight: 400;
        word-spacing: 1px;
      }
    .flexSobre{
      padding-top: 50px;
      display: flex;
      flex-direction: column;
    }
    .imagemSobre{
      img{
        width: 220px;
        margin: 0px 30px 20px 0px;
      }
    }
    .tecSobre{
      margin-top: 20px;
      margin-bottom: 40px;
      .TecImgSobre{
        display: flex;
        img{
          width: 30px;
          margin: 10px;
        }
        figcaption{
          display: none;
        }
      }
    }
  }
  .fundoContato{
    height: 80vh;  
    margin-top: -10px;
    h1{
      margin: -80px 0px 20px 0px;
      padding: 20px 0px 0px 0px;
      font-size: 2em;
    }
    h2{
      margin-bottom: 10px;
      font-size: 1em;
      span{
        color: #970ee7;
      }
    }
    h3{
      font-size: .6em;
      padding: 10px;
    }
   }
}
